<html>
    <head>
        <title>Golua Playground</title>
    </head>
    <body>
        <h1>The Golua Playground (alpha)</h1>
        <p>
            You have {{ .Cpu }} cpu units and {{ .Mem }} mem units.  Click "Run"
            to run the code, click "Save" to save the code on the server, you
            can then share the URL.
        </p>
        <p>
            Size of script is limited to 10000 bytes.  Compilation is free :).
            Can you break it with one script?
        </p>
        <div>
            <form method="post">
                <h2>
                    <label for="code">Lua Code</label>
                    <button type="submit">Run</button>
                    {{ if .SavingEnabled }}<button typw="submit" formaction="/save">Save</button>{{ end }}
                </h2>
                <textarea rows="25" cols="100" maxlength="10000" name="code">{{ .Source }}</textarea>
            </form>
        </div>
        {{- if .Output }}
        <h2>Output</h2>
        <textarea readonly rows="10" cols="100" maxlength="10000">
            {{- .Output -}}
        </textarea>
        {{- end }}
        {{- if .Context }}
        <h2>Outcome</h2>
        <ul>
            <li>status: {{ .Status }} </li>
            <li>cpu: used {{ .Context.UsedResources.Cpu }} / {{ .Context.HardLimits.Cpu }}</li>
            <li>mem: used {{ .Context.UsedResources.Mem }} / {{ .Context.HardLimits.Mem }}</li>
        </ul>
        {{- end }}
    </body>
</html>
