name: Go

on: push

jobs:

  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        build_tags:
          - ''
          - 'noquotas'
          - 'nocontpool noregpool'
          - 'noquotas nocontpool noregpool'
        os:
          - ubuntu-latest
          - macOS-latest
          - windows-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.17

    - name: All tests
      run: go test -tags "${{ matrix.build_tags }}" -coverprofile=coverage.txt -covermode=atomic ./...

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v2
      with:
        files: ./coverage.txt
        name: codecov-all-tests
        verbose: true
    
    - name: Build CLI
      run: go build -tags "${{ matrix.build_tags }}"

    - name: Check out Lua Test Suite 5.4.3
      uses: actions/checkout@v2
      with:
        repository: arnodel/golua-tests
        ref: golua-5.4
        path: ./lua-test-suite

    - name: Run Lua Test Suite
      run: ../golua -u -e "_U=true" all.lua
      working-directory: ./lua-test-suite
